<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="description" content="Andrew Breckenridge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrew Breckenridge</title>
  </head>
  <body>
    {{content}}
    <script>!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-67302438-1","auto"),ga("send","pageview");</script>
  </body>
</html>
